.roomContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
 // margin-top: 20px;
  padding: 15px;
  border: white 2px solid;
  border-style: solid none none none;

  .infoBlock {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-items: flex-start;

    h4{
      margin-bottom: 12px;
      font-size: 20px;
      flex-wrap: inherit;

    }
  }

  .descriptionBlock {
    padding-left: 20px;
    align-items: flex-start;
  }
}